<p-toolbar styleClass="header-toolbar">
  <div class="p-toolbar-group-start">
    <button
      pButton
      type="button"
      class="header-brand p-button-text"
      (click)="onLogoClick()"
      [attr.aria-label]="'Go to home - ' + title"
    >
      @if (logoUrl) {
        <img class="header-logo" [src]="logoUrl" [alt]="title + ' logo'" />
      }
      @if (title) {
        <span class="header-title">{{ title }}</span>
      }
    </button>
  </div>
  <div class="p-toolbar-group-end">
    <ng-content></ng-content>
  </div>
</p-toolbar>
